<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reduce.me</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
</head>
<body>
    <main>
        <form action="/" method="post">
            <div class="reducedInput">
                <label>
                    <input type="text" placeholder="https://www.baeldung.com/"/>
                </label>
                <div>
                    <button type="submit">
                        <img th:src="@{/assets/key-return.svg}" alt="copy">
                    </button>
                </div>
            </div>
            <span class="line"></span>
        </form>
<!--        <span class="line"></span>-->
    </main>
</body>
</html>